body {
    background: #020617;
    color: #e5e7eb;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin: 30px 0;
}

.controls input, .controls button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
}

button {
    background: #38bdf8;
    cursor: pointer;
}

button:hover {
    background: #0ea5e9;
}

.cache {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.block {
    background: #22c55e;
    color: black;
    padding: 15px;
    margin: 5px;
    border-radius: 6px;
    font-weight: bold;
}

.lru {
    background: #f87171;
}
